<& macro style_text(text) -&>
  <&- if text is string -&>
    <@ text @>
  <&- elif text is iterable -&>
    \<@ text[1] @>{<@ text[0] @>}
  <&- endif -&>
<&- endmacro -&>

<& macro control_seq(name) -&>
  \<@ name @><& for text in varargs &>{<@ style_text(text) @>}<& endfor &>
<&- endmacro &>

<& macro line_item(item) -&>
  <&- if item is string -&>
    <@ control_seq("cvlistitem", item) @>
  <&- elif item is mapping -&>
    <&- for key, value in item.items() -&>
      <@ control_seq("cvline", key, value) @>
    <&- endfor -&>
  <&- elif item is iterable -&>
    <&- if (item|count) == 2 -&>
      <@ control_seq("cvlistdoubleitem", *item) @>
    <&- elif (item|count) == 4 -&>
      <@ control_seq("cvcomputer", *item) @>
    <&- endif -&>
  <&- endif -&>
<&- endmacro -&>
