<& macro style_text(text) -&>
  <&- if text is string -&>
    <@ text @>
  <&- elif text is iterable -&>
    <@ "\%s{%s}" % (text[1], text[0]) @>
  <&- endif -&>
<&- endmacro -&>

<& macro control_seq(name) -&>
  \<@ name @><& for text in varargs &>{<@ style_text(text) @>}<& endfor &>
<&- endmacro &>
