<& from "macros.j2" import style_text, control_seq, line_item, print_line_items -&>

%% preamble
\documentclass[<@ config.theme.font_size @>pt]{moderncv}
\moderncvtheme[<@ config.theme.color @>]{<@ config.theme.style @>}
\usepackage{color}
\usepackage[utf8]{inputenc}
\usepackage[scale=0.82]{geometry}
\recomputelengths

%% personal data
<@ control_seq("firstname", config.personal_data.first_name) @>
<@ control_seq("familyname", config.personal_data.last_name) @>
<@ control_seq("title", config.personal_data.desired_title) @>
<@ control_seq("address", config.personal_data.address.format("{city}, {state} {zip}") @>
<@ control_seq("mobile", config.personal_data.mobile) @>
<@ control_seq("email", config.personal_data.email) @>
<@ control_seq("extrainfo", config.personal_data.items | join(" \\ ")) @>

\begin{document}
\maketitle

<& for section in config.sections -&>
  <& if section.items is defined -&>
    <@ control_seq("section", section.title) @>
    <& if section.format_as is defined -&>
      <& for item in section.items -&>
        <@ format_as(section.items, section.format_as) @>
      <& endfor -&>
    <& else -&>
      <& for item in section.items -&>
        <@ item @>
      <& endfor -&>
    <& endfor -&>
  <& endif -&>
<& endfor -&>

\end{document}
